/* reset  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  color: #333;
  font-size: 16px;
}

/* header */
header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

header h1 {
  font-size: 24px;
}

/* home container */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 10px;
}

.home-container p {
  margin: 5px;
}

.home-container-links {
  margin: 5px;
}
/* about container */

.about-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 10px;
}

.about-container p{
  margin: 5px;
}


/* table section */
#table {
  display: flex;
  flex-direction: column;
  align-items: left;
}

/* table container */
.table-container {
 display: flex;
 flex-direction: column;
 align-items: left;
}

.table-container h3 {
  margin: 10px;
}

.table-container table {
  text-align: center;
  margin: 10px;
  border: 2px solid #000;
  border-collapse: collapse;
  width: 50%;
}

.table-container table th {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.table-container table td {
  padding: 10px;
}

.table-container table tr:nth-child(even) {
  background-color: #f0f0f0;
}

.table-container table tr:nth-child(odd) {
  background-color: #fff;
}

/* nav */
nav {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
}

/* contact container */
.contact-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 10px;
}

.contact-container p {
  margin: 5px;
}


/* footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}
