/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container, .container2, .container3 {
  width: 300px;
  height: 150px;
  padding: 20px;
  border: 5px;
  margin: 10px;
  display: inline-block;
}

.container2 {
  background: cyan;
}

.container3 {
  background-image: url(cat.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
}
